---
layout: layouts/base.njk
title: Dreamwalker Gallery
---

<section class="gallery-grid">
  {% for item in gallery %}
    {% set galleryItem = item %}
    {% include "gallery-item.njk" %}
  {% endfor %}
</section>
